<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,661},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>DalabaIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>DeepBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,468},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>DiamondIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,715},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>ExChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,716},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>FangkaIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,103},{98,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{98,74}</string>
            </dict>
            <key>ItemBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,179},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>JiPaiQiIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,289},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>LittleBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,706},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,385},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>WordBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,661},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>WordLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,149}}</string>
                <key>sourceSize</key>
                <string>{511,149}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>defaultHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,549},{113,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,110}}</string>
                <key>sourceSize</key>
                <string>{113,110}</string>
            </dict>
            <key>vouchers.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d31ad766487a944981ad3255845c93d7:1/1$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
